<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style type="text/css">
    .table {
      table-layout: fixed;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row" style="padding-top:10px;">
    <a href="/logout" class="btn btn-info">Log out</a>
  </div>
  <div class="row" style="padding-top:10px;padding-bottom:10px;">
    <form method="post" action="/refresh_token">
      <button class="btn btn-success" type="submit">Refresh accessToken</button>
    </form>
  </div>

  <div class="row">
    <table class="table" th:object="${profile}">
      <thead></thead>
      <tbody>
      <tr>
        <th style="width:25%">userId</th>
        <td style="width:75%" th:text="*{userId}"></td>
      </tr>
      <tr>
        <th>displayName</th>
        <td th:text="*{displayName}"></td>
      </tr>
      <tr>
        <th>statusMessage</th>
        <td th:text="*{statusMessage}"></td>
      </tr>
      <tr>
        <th>picture</th>
        <td>
          <img th:src="*{pictureUrl + '/small'}" />
          <img th:src="*{pictureUrl + '/large'}" />
        </td>
      </tr>
      <tr>
        <th>friendship</th>
        <td th:text="${friendship}"></td>
      </tr>
      <tr>
        <th>AccessToken</th>
        <td th:text="${accessToken}"></td>
      </tr>
      <tr>
        <th>RefreshToken</th>
        <td th:text="${refreshToken}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
